<div class="main-content">
  <div class="section-container section-content-p30">
    <div class="container-fluid">
      <div *ngIf="cartItems.length==0" class="alert alert-warning cal-md-12" role="alert">
        Your shopping cart is empty.
      </div>
      <div *ngIf="cartItems.length>0">
        <table class="table table-bordered">
          <tbody>
          <tr>
            <th width=20%>Product Image</th>
            <th width=50%>Product Detail</th>
            <th width=30%></th>
          </tr>
          <tr *ngFor="let cartItem of cartItems">
            <td>
              <a routerLink="/product/{{cartItem.id}}">
              <img src="{{cartItem.imageUrl}}" alt="" class="img-responsive" width="150px">
              </a>
            </td>
            <td>
              <a class="cart-details-name"routerLink="/product/{{cartItem.id}}">
              <p>{{cartItem.name}}</p>
              </a>
              <p>{{cartItem.unitPrice|currency: "EUR"}}</p>
            </td>
            <td>
              <div class="items">
                <label>Quantity:</label>

                <div class="row no-gutters">
                  <div class="col">
                    <button (click) = "incrementQuantity(cartItem)" class="btn btn-primary btn-sm">
                      <em class="fas fa-plus"></em>
                    </button>
                  </div>
                  <div class="col ml-4 mr-2">
                    {{cartItem.quantity}}
                  </div>
                  <div class="col">
                    <button (click) = "decrementQuantity(cartItem)" class="btn btn-primary btn-sm">
                      <em class="fas fa-minus"></em>
                    </button>
                  </div>
                  <div class="col-8"></div>
                </div>
              </div>

              <button (click) ="remove(cartItem)"class="btn btn-primary mt-2 btn-sm">Remove</button>
              <p class="mt-2">Subtotal: {{cartItem.quantity * cartItem.unitPrice | currency: "EUR"}}</p>
            </td>
          <tr>
            <td colspan="2"></td>
            <td style="font-weight:bold">
              <p>Total Quantity: {{totalQuantity}}</p>
              <p>Shipping: FREE</p>
              <p>Total Price: {{totalPrice | currency: "EUR"}}</p>
              <a routerLink="/checkout" class="btn btn-primary">Checkout</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

