/* You can add global styles to this file, and also import other style files */
/*@import"~bootstrap/dist/css/bootstrap.min.css";*/

/*
 * ----------------------------
 * Left Menu Bar
 * ----------------------------
 */

/*.menu-sidebar{*/
/*  width:200px;*/
/*  position:fixed;*/
/*  left:0;*/
/*  top:75px;*/
/*  bottom:0;*/
/*  background:#fff;*/
/*  !*overflow-y:auto*!*/
/*  !*overflow-y:auto*!*/
/*}*/


/*.menu-sidebar .navbar-list .navbar-sub-list{*/
/*  display:none;*/
/*  padding-left:34px*/
/*}*/

/*.menu-sidebar .navbar-list .navbar-sub-list li a{*/
/*  padding:11.5px 0*/
/*}*/

/*.menu-sidebar-content{*/
/*  !*position:relative;*!*/
/*  height:-webkit-calc(100vh - 75px);*/
/*  height:-moz-calc(100vh - 75px);*/
/*  height:calc(100vh - 75px)*/
/*}*/

/*.navbar-sidebar{*/
/*  padding:35px;*/
/*  padding-bottom:0*/
/*}*/

.navbar-sidebar .navbar-list li a{
  display:block;
  color:#555;
  font-size:16px;
  padding:5px 0
}

/*.navbar-sidebar .navbar-list li a i{*/
/*  margin-right:19px*/
/*}*/

.navbar-sidebar .navbar-list li a:hover{
  color:#0da8e4
}




/*
 * ----------------------------
 * Header
 * ----------------------------
 */


.btn.btn-primary.search{
  position:relative;
  left:10px;
  /*color: #0da8e4;*/
  /*background:#fff;*/
  /*border-radius: 2px;*/
  /*border: black;*/


}

.btn-holder {
  justify-content: flex-end;
  display: flex;
}

/*
 * ----------------------------
 * Product Details
 * ----------------------------
 */

.detail-img{
  width: 100%;
}

/*
 * ----------------------------
 * Main content
 * ----------------------------
 */

.main-content{
  padding-top:50px;
  padding-bottom:100px
}



.col-md-2{



}

.total span{
  display:inline-block;
  background:#fff;
  padding:0 10px;
  color:#000;
  border-top-right-radius:20px;
  border-bottom-right-radius:20px;
  margin-left:6px
}
.total{
  background:#0da8e4;
  line-height:25px;
  color:#fff;
  border-radius:25px;
  border:1px solid #0da8e4;
  float:left;
  margin-top:2px;
  padding-left:12px
}

.total:hover{
  background: #2e2eec;
  border: 1px solid #2e2eec;
}

.fas.fa-cart-plus{
  color: #0da8e4;
}

.fas.fa-cart-plus:hover{
  color: #2e2eec;
}

/*fa-sharp fa-solid fa-pen*/

.fa-pen{
  color: #0da8e4;
  float:left;
}

.fa-pen:hover{
  color: #2e2eec;

}

.fa-trash{
  color: #dc405f;
  float:right;
}

.fa-trash:hover{
  color: #930822;
}

.btn {
  background:#0da8e4;
  border: #0da8e4;
}

/*
 * ----------------------------
 * Shopping Cart Details
 * ----------------------------
 */

.table{
  margin:0
}
table.table.table-bordered{
  border:1px solid #ccc;
  background:#fff;
  text-align:center
}
.table-bordered td,.table-bordered th{
  border:1px solid #dee2e6
}
table.table.table-bordered th{
  BACKGROUND:#0da8e4;
  color:#fff;
  font-size:14px;
  padding:7px

}
.table-responsive{
  padding-right:1px
}
.items select{
  width:100px;
  height:40px;
  border-radius:40px;
  padding-left:15px;
  margin-bottom:10px;
  outline:0;
  margin-left:5px
}


.pagination > .active > a {
  color: white;
  background-color: #0da8e4;
}

.product-name{

  color:#555;
  /*font-size:16px;*/
  /*padding:5px 0*/

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;



}
.cart-details-name {
  color:#555;

}
.link {
  color: #555;
}


.main-content.page-m{
  padding:10% 30% 10% 5%
}

/*
 * ----------------------------
 * Shopping Cart Checkout
 * ----------------------------
 */


.form-area{
  background:#e5e5e5;
  position:relative;
  margin-bottom:45px;
  padding:50px 20px;
  border:3px solid #ccc
}
/*.form-area h2{*/
/*  position:absolute;*/
/*  top:-26px;*/
/*  left:13px;*/
/*  background:#e5e5e5;*/
/*  padding:10px 20px;*/
/*  font-weight:500;*/
/*  z-index:23;*/
/*  display:inline-block*/
/*}*/
.input-space{
  margin-bottom:20px
}
.input-space label{
  padding-left:31px;
  font-size:14px;
  margin-bottom:50px
}
.input-space input[type=text]{
  width:100%;
  height:40px;
  border-radius:30px;
  outline:0;
  padding:10px;
  border:1px solid #ccc
}
.input-space select{
  width:100%;
  height:40px;
  border-radius:30px;
  outline:0;
  padding:0 10px;
  border:1px solid #ccc
}






.au-checkbox{
  display:block;
  position:relative;
  cursor:pointer;
  font-size:22px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}
.au-checkbox input{
  position:absolute;
  opacity:0;
  cursor:pointer
}
.au-checkmark{
  position:absolute;
  top:0;
  left:0;
  height:22px;
  width:22px;
  background-color:#fff!important;
  border:2px solid #e5e5e5;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px
}
.au-checkbox:hover input~.au-checkmark{
  background-color:transparent
}
.au-checkbox input:checked~.au-checkmark{
  background-color:#fff
}
.au-checkmark:after{
  content:"";
  position:absolute;
  display:none
}
.au-checkbox input:checked~.au-checkmark:after{
  display:block
}
label.date{
  padding-top:8px
}
.au-checkbox .au-checkmark:after{
  left:5px;
  top:-1px;
  width:9px;
  height:15px;
  border:solid #0da8e4;
  border-width:0 4px 4px 0;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  transform:rotate(45deg)
}
/*option:first{*/
/*  color:#ccc*/
/*}*/
select{
  color:#828482
}

