

<div class="container mt-5">

  <div  *ngIf="isLoggedIn()" class="alert alert-warning cal-md-12" role="alert">
    Welcome! You have logged in successfully.
  </div>


  <div *ngIf="!isLoggedIn()" class="card" style="padding: 20px;">
    <form #loginForm ="ngForm" (ngSubmit)="login(loginForm)">
      <input type="text"
             ngModel
             name="email"
             id="email"
             placeholder="Enter your username"
             class="form-control mb-3"
      >
      <input type="password"
             ngModel
             name="password"
             id="password"
             placeholder="Enter your password"
             class="form-control mb-3"
      >
<!--<input type = "submit"-->
<!--value = Login>-->


      <button type="submit" class="btn btn-primary search" >Login</button>

    </form>
  </div>
</div>
