<!--<ul class = "navbar-nav me-auto mb-2 mg-lg-0">-->
<!--  <li class = "nav-item">-->
<!--    <a  class="nav-link active" aria-current="page" href routerLink="user"-->
<!--           *ngIf="userService.roleMatch(['user'])"-->
<!--    >User Dashboard</a>-->





<!--  </li>-->
<!--  <li class = "nav-item">-->
<!--    <a   class="nav-link active" aria-current="page" href routerLink="admin"-->

<!--    *ngIf="userService.roleMatch(['admin'])"-->
<!--    >Admin Dashboard</a>-->


<!--  </li>-->

<!--</ul>-->

<div>

  <button *ngIf="!isLoggedIn()"  class="btn btn-primary" routerLink ="/login-page">Login</button>
  <button  *ngIf="isLoggedIn()"  class="btn btn-primary" (click) ="logout()">Logout</button>
<!--  <button     *ngIf="userService.roleMatch(['admin'])" class="btn btn-primary" routerLink ="/admin">Admin</button>-->
</div>


